.icons {
  display: inline-block;
  width: 32px;   /* usa un tamaño visible */
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon-check-success {
  background-image: url("https://cdn.jsdelivr.net/gh/wild-wild/LibreIcons/icons/check-success.svg");
}
