/* URL base del CDN (ajusta con tu usuario y repo) */
:root {
  --cdn-icons-url: "https://cdn.jsdelivr.net/gh/wild-wild/LibreIcons/icons/";
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon-home {
  background-image: url("https://cdn.jsdelivr.net/gh/wild-wild/LibreIcons/icons/check-success.svg");
}
